@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url(//db.onlinewebfonts.com/c/f05f148ec6596f0b75375fa566aaf1fe?family=Bely);

/* searching for new typo to replace BELY DISPLAY */

body{
   margin: 0;
   padding: 0;
}

header#sidebar {
   position: fixed;
   z-index: 999; /*passe devant tous les éléments*/
   background: rgb(155, 24, 24);
   height: 100vh;
}

header#sidebar .hamburger {
   width: 30px;
   height: 22px;
   background-color: rgb(0, 0, 0);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

header#sidebar .hamburger .top,
header#sidebar .hamburger .mid, 
header#sidebar .hamburger .bottom {
   width: 25px;
   height: 3px;
   background: rgb(203, 0, 0);
}

/* .logotop {
   margin-top: 0vw;
   left: 1.5vw;
   top: 1vw;
   position: fixed;
   width: 7%;
}  */

/* START BARNAV */

/* END BARNAV */

h1 {
    text-align: center;
    font-size: 6vw;
    font-family: 'Bely Display';
    margin-top: 4.5vw; 
}

.hypertext {
   text-align: center;
   text-decoration: none;
   color: black;
}

.undertitle {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 1.35vw; 
    margin-top: -5vw;
    margin-bottom: 5vw;
    font-style: italic;
 }

 .logoundertitle {
   text-align: center;
   margin: auto;
   display: flex;
   position: relative;
   top: -2em;
   width: 80%;
 }

.about {
     font-family: 'Montserrat';
     font-size: small;
     text-align: center; 
 }

.explanations {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 1.1vw; 
    line-height: 1.5em;
    position: relative;
    top: -2em;
}

.container {
    text-align: center;
}

.blink_me {
   animation: blinker 2.3s linear infinite;
 }
 @keyframes blinker {
   50% { 
     opacity: 0;
   }
 }

.copyright {
   text-align: center;
   font-size: 0.8vw;
   font-family: 'Montserrat';
}